apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: app-producao
spec:
  replicas: 3 # O ArgoCD manterá 3 réplicas sempre vivas
  selector:
    matchLabels:
      app: web-server
  template:
    metadata:
      labels:
        app: web-server
    spec:
      containers:
      - name: nginx
        image: nginx:1.21
        ports:
        - containerPort: 80