apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: app-producao
spec:
  selector:
    app: web-server
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer