name: CI-GitOps-Validator
on: [push]

jobs:
    validate:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Install Kubeval
              run: |
                  curl -L https://github.com/instrumenta/kubeval/releases/latest/download/kubeval-linux-amd64.tar.gz | tar xz
                  sudo mv kubeval /usr/local/bin
            - name: Validate Kubernetes Manifests
              run: kubeval -d k8s-config/app-manifests,k8s-config/redis-manifests --ignore-missing-schemas
